<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Predict</title>
</head>
<body>
   
    <div class="table_entrances" style="overflow-x: auto;">

       
        
        {% for table in tables %}
        {{ table|safe }}
         {% endfor %}

         {{level}}
      
      </div>
   
    
</body>
</html>