<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Predict</title>
</head>
<body>
   
   
    
        <div class="table-display">
       
        
        {% for table in tables %}
        <div class="container">
            <div class="jumbotron">
                <h1>Predicted Value in Last Column:)</h1>
            </div>
          </div>
        
        {{ table|safe }}
         {% endfor %}
         </div>

         <div class="container">
            <div class="jumbotron">
         {% if level =='Easy'%}
            <h1 style="  text-shadow: 2px 2px 5px red;font-size: 60px; color: green; text-align: center; vertical-align: middle;" >Easy😃</h1>
        {% elif level=='Medium'%}
            <h1 style=" text-shadow: 2px 2px 5px yellow;font-size: 60px; color: orangered; text-align: center; vertical-align: middle;">Medium🤔</h1>
        {% elif level=='Hard' %}
            <h1 style=" text-shadow: 2px 2px 5px red;font-size: 60px; color: red; text-align: center; vertical-align: middle;">Hard😫</h1>
        {% else %}
        {% endif %}
        </div>
    </div>
      
     
   
    
</body>
</html>